<div id="autopopulate_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Embed entire course</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-justified" role="group" id="autopopulate_granularity">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" value="subsection">Subsection
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" value="unit">Unit
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" value="component">Component
                        </button>
                    </div>
                </div>
                <div id="autopopulate_modal_instructions"></div>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="create_assignments" value="true">Add problems to Canvas gradebook.</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        id="auto_populate_button" data-dismiss="modal">Embed
                    Course
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancel
                </button>
            </div>
        </div>
    </div>
</div>
